<?xml version="1.0" encoding="UTF-8"?>
<server>
	<service>
		<connector port="8080" maxSize="100" protocol="HTTP/1.1"></connector>
		<webroot>WebContent</webroot>
		
		<!-- 配置404页面 -->
		<not-found-page>404.html</not-found-page>
		
		<!-- 动态显示Content-Type -->
		<typemappings>
			<typemapping ext="html" type="text/html"></typemapping>
			<typemapping ext="png" type="image/png"></typemapping>
			<typemapping ext="jpg" type="image/jpeg"></typemapping>
		</typemappings>
		
		<!-- 动态显示状态码和状态短语 -->
		<statusmappings>
			<statusmapping st="200" stline="OK"></statusmapping>
			<statusmapping st="404" stline="Not Found"></statusmapping>
			<statusmapping st="500" stline="Internal Server Error"></statusmapping>
		</statusmappings>
		
	</service>
</server>